.content-1-count{
    padding: 20px 10px;
}
.content-1-add{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    text-align: left;
    border: 1px solid #aaaaaa;
}
.content-1-add .addImg{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
