.content-2-add{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    text-align: left;
    background-color: #eeeeee;
    border-top: 1px solid #ddd;
}
.content-2-add .addImg{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}